#.envs
.env
.env.production
.env.test
.env.local


# python
venv/
.venv/
env/
.env/


# database dumps
fitnessdb_prod_dump.sql

# datatool (read this later)
application.properties

# admin-dash
bin/
obj/
.vs/
