#.envs
.env
.env.production
.env.test
.env.local


# python
venv/
.venv/
env/
.env/


# database dumps
fitnessdb_prod_dump.sql

# datatool (read this later)
application.properties

# admin-dash
bin/
obj/
.vs/

# terraform
infrastructure/terraform/.terraform/
infrastructure/terraform/terraform.tfstate*
infrastructure/terraform/.terraform.tfstate.lock.info
infrastructure/terraform/.terraform.lock.hcl

# e2e tests
front-and-back-end/src/tests/e2e/
