
services:
  server:
    build:
      context: ./front-and-back-end
    environment:
      NODE_ENV: production
      DATABASE_URL: postgres://postgres:postgres@postgres:5432/fitnessdb
    ports:
      - 3000:3000
    depends_on: #ensure next.js app only launches after database
      - postgres
  
  postgres:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: fitnessdb
    volumes:
      - db-data:/var/lib/postgresql/data #where database files are stored in container
      - ./database/init:/docker-entrypoint-initdb.d #map init files to entry point
    ports:
      - "5433:5432" #docker port 5432 to local port 5433

  ai:
    build:
      context: ./ai-service #relative directory to python file
    restart: always
    environment:
      DATABASE_URL: postgres://postgres:postgres@postgres:5432/fitnessdb
    depends_on:
      - postgres
    ports:
      - "8000:8000" #expose api port


#create image file system
#allow database to persist even if container dies
volumes:
  db-data:
