
services:
  server:
    build:
      context: ./front-and-back-end
      dockerfile: Dockerfile.dev
    environment:
      NODE_ENV: production
    volumes:
      - ./front-and-back-end:/app
      - /app/node_modules # to avoid overwriting container node_modules
    ports:
      - 3000:3000
    depends_on: #ensure next.js app only launches after database
      - postgres
    env_file:
      - ./.env
  
  #production database
  postgres:
    image: pgvector/pgvector:pg16-bookworm
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - db-data:/var/lib/postgresql/data #where database files are stored in container
      - ./database/init:/docker-entrypoint-initdb.d #map init files to entry point
    ports:
      - "5433:5432" #docker port 5432 to local port 5433
    env_file:
      - ./.env

  #test database
  postgres-test:
    image: pgvector/pgvector:pg16-bookworm
    profiles: ["test"]
    environment:
      POSTGRES_USER: ${POSTGRES_USER_TEST}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD_TEST}
      POSTGRES_DB: ${POSTGRES_DB_TEST}
    volumes:
      - db-data-test:/var/lib/postgresql/data
      - ./database/init:/docker-entrypoint-initdb.d
    ports:
      - "5434:5432"
    env_file:
      - ./.env

  ai:
    build:
      context: ./ai
      dockerfile: Dockerfile
    volumes:
      - ./ai/app:/app/app  # Hot reload
    command: python -m uvicorn app.main:app --host 0.0.0.0 --port 5000 --reload
    depends_on:
      - postgres
    env_file:
      - ./.env
    ports:
      - "5001:5000"




#create image file system
#allow database to persist even if container dies
volumes:
  db-data:
  db-data-test:

