services:
  server:
    build:
      context: ./front-and-back-end
      dockerfile: Dockerfile
    image: nilecochen/fitnessaiapp:latest
    env_file:
      - ./.env
    ports:
      - "3000:3000"
    depends_on:
      - postgres
    restart: always

  postgres:
    image: pgvector/pgvector:pg16-bookworm
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./database/init:/docker-entrypoint-initdb.d
    env_file:
      - ./.env

  ai:
    image: nilecochen/fitnessaiapp-ai:latest
    depends_on:
      - postgres
    env_file:
      - ./.env

volumes:
  db-data:
