services:
  server:
    build:
      context: ./front-and-back-end
      dockerfile: Dockerfile.dev
    environment:
      NODE_ENV: production
    volumes:
      - ./front-and-back-end:/app
      - /app/node_modules # to avoid overwriting container node_modules
    ports:
      - 3001:3000
    depends_on: #ensure next.js app only launches after database
      - postgres
    env_file:
      - ./.env
  
  #production database
  postgres:
    image: pgvector/pgvector:pg16-bookworm
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - db-data:/var/lib/postgresql/data #where database files are stored in container
      - ./database/init:/docker-entrypoint-initdb.d #map init files to entry point
    ports:
      - "5433:5432" #docker port 5432 to local port 5433
    env_file:
      - ./.env

  #test database
  postgres-test:
    image: pgvector/pgvector:pg16-bookworm
    profiles: ["test"]
    environment:
      POSTGRES_USER: ${POSTGRES_USER_TEST}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD_TEST}
      POSTGRES_DB: ${POSTGRES_DB_TEST}
    volumes:
      - db-data-test:/var/lib/postgresql/data
      - ./database/init:/docker-entrypoint-initdb.d
    ports:
      - "5434:5432"
    env_file:
      - ./.env

  ai:
    build:
      context: ./ai
      dockerfile: Dockerfile
    volumes:
      - ./ai/app:/app/app  # Hot reload
    command: python -m uvicorn app.main:app --host 0.0.0.0 --port 5000 --reload
    depends_on:
      - postgres
    env_file:
      - ./.env
    ports:
      - "5001:5000"

  admin-dash:
    build:
      context: ./admin-dash
      dockerfile: Dockerfile
    ports:
      - "5103:5103"
    depends_on:
      - postgres
    env_file:
      - ./.env
    environment:
      ASPNETCORE_URLS: http://+:5103

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_SYNC_LIMIT: 2
      ZOOKEEPER_INIT_LIMIT: 5
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    ports:
      - "9092:9092"
      - "9101:9101"
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_JMX_PORT: 9101
      KAFKA_JMX_HOSTNAME: localhost

  embedding-worker:
    build:
      context: ./ai
      dockerfile: Dockerfile
    command: python -m app.embedding_worker
    depends_on:
      - kafka
      - postgres
    env_file:
      - ./.env
    volumes:
      - ./ai/app:/app/app

volumes:
  db-data:
  db-data-test:
