services:
  server:
    build:
      context: ./front-and-back-end
      dockerfile: Dockerfile
    image: nilecochen/fitnessaiapp:latest
    env_file:
      - ./front-and-back-end/.env.production
    ports:
      - "3000:3000"
    depends_on:
      - postgres
    restart: always

  postgres:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: fitnessdb
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./database/init:/docker-entrypoint-initdb.d

volumes:
  db-data:
